.list-group-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 400px;
  padding: 10px 15px;
  border: 1px solid rgb(197, 197, 197);
}

.list-group-item>button{
  margin-left: auto;
}

.list-group-item>.country-name{
  font-weight: 550;
}

.list-group-item>img{
  width: 30px;
  margin-right: 10px;
}

.info-light{
  color: #aaaaaa;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}